<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nd.car.web.dao.FuelDao">
    <!--    在这里写数据库查询语句，id即为接口方法的名字-->
    <select id="findAllFuel" resultType="com.nd.car.web.entity.Fuel">
        SELECT * FROM fuel_count order by cyear
    </select>
</mapper>